[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
python_version = "3.9"

[packages]
beautifulsoup4 = "*"
requests = "*"
openpyxl = "*"
pandas = "*"

[scripts]
query = "python query.py"
teams = "python teams.py"
fftt = "python fftt.py"

[dev-packages]
pytest = "*"
pytest-cov = "*"
